<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>PhoneBook</title>
</head>
<body>
<div class="container" role="menu">
    <div class="jumbotron">
        <h1>Phonebook</h1>
    </div>
    <form th:action="@{/views/addNew}" method="get" class="form-horizontal">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Id</label>
                <input th:field="${toDo.id}" placeholder="Введите id " class="form-control"/>
            </div>
            <div class="form-group col-md-6">
                <label>Имя</label>
                <input th:field="${toDo.firstName}" placeholder="Введите имя " class="form-control"/>
            </div>
            <div class="form-group col-md-6">
                <label>Фамилия</label>
                <input th:field="${toDo.lastName}" placeholder="Введите фамилию " class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input th:field="${toDo.email}" placeholder="Введите email " class="form-control"/>
        </div>
        <div class="form-group">
            <label>Номер</label>
            <input th:field="${toDo.number}" placeholder="Введите номер телефона " class="form-control"/>
        </div>
        <div>
            <button type="submit" class="btn btn-dark"> Добавить контакт </button>
        </div>
    </form>
    <br>
    <div>
        <p> Перейти <a th:href="@{/views}">
            <button type="submit" class="btn btn-primary"> на главную страницу </button></a>
        </p>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>